 <div class="container d-flex justify-content-center p-0">
  <div class="contact-group">
    <div class="container d-flex justify-content-center">
      <div class="contact-group-header mb-3">
        <h1>Contact us</h1>
      </div>
    </div>
    <div class="contact-background">
      <div class="filter">
        <div class="container d-flex justify-content-center">
          <div class="row contacts-row" style="width: 1100px">
            <div class="col-8">
              <div class="contact-form" style="color: white;">
                <%= simple_form_for(@query) do |f| %>
                  <%= f.input :name %>
                  <%= f.input :email %>
                  <%= f.input :message %>
                  <%= f.submit %>
                <% end %>













   <!--              <div class="container d-flex justify-content-between mb-3">
                  <input class="input-name" type="text" placeholder="your name">
                  <input class="input-email" type="text" placeholder="your e-mail">
                </div>
                <div class="container p-0 input-message d-flex align-items-start">
                  <input class="message" type="text" placeholder="message">
                </div>
                <div class="container d-flex justify-content-end mt-3">
                  <button class="btn-submit-dark">Submit</button>
                </div> -->
              </div>
            </div>
            <div class="col-4">
              <div class="contact-details border px-3">
                <div class="telephone-group container d-flex justify-content-around mt-3">
                  <i class="fas fa-phone icon"></i>
                  <div class="phone-numers">
                    <p>Tel: 01330-828196</p>
                    <p>Mob: 07-82587008</p>
                  </div>
                </div>
                <div class="email-group container d-flex justify-content-around mt-3">
                  <i class="fas fa-at icon"></i>
                  <div class="email">
                    <p>1 The Beeches,</p>
                    <p>Banchory Lodge,</p>
                    <p>Banchory, AB31 5HS</p>
                  </div>
                </div>
                <div class="address-group container d-flex justify-content-around mt-3">
                  <i class="fas fa-map-marker-alt icon"></i>
                  <div class="address">
                    <p>1 The Beeches,</p>
                    <p>Banchory Lodge,</p>
                    <p>Banchory, AB31 5HS</p>
                  </div>
                </div>
                <div class="icons-group container d-flex justify-content-around my-3">
                  <a href="https://twitter.com/PawlettPlumbing" target="_blank"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.facebook.com/PawlettPlumbing/?fref=ts&pnref=story" target="_blank" id="facebook-link"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/pawlettplumbing/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="accred-group container d-flex justify-content-center my-3">
                  <%= image_tag 'gas-safe-register.jpg', width: 64 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
